    <div class="card">
        <div class="card-header">
          Chỉnh sửa thông tin của sản phẩm
        </div>
        <div class="card-body">
            <form method="post" action="">
                <div class="mb-2">
                    <label for="id_sp" class="form-label">id_sp</label>
                    <input type="text" class="form-control" id="id_sp" readonly name="id_sp" value="{{this.san_pham.id_sp}}">
                </div>
                <div class="mb-2">
                    <label for="ten_sp" class="form-label">ten_sp</label>
                    <input type="text" class="form-control" id="ten_sp" name="ten_sp" value="{{this.san_pham.ten_sp}}">
                </div>
                <div class="mb-2">
                    <label for="gia_sp" class="form-label">gia_sp</label>
                    <input type="number" class="form-control" id="gia_sp" name="gia_sp"  value="{{this.san_pham.gia_sp}}">
                </div>
                 <div class="mb-2">
                    <label for="trang_thai_sp" class="form-label">trang_thai_sp</label>
                    <input type="number" class="form-control" id="trang_thai_sp" name="trang_thai_sp"  value="{{this.san_pham.trang_thai_sp}}">
                </div>
                <div class="mb-2">
                    <label for="mau_sp" class="form-label">mau_sp</label>
                    <input type="text" class="form-control" id="mau_sp" name="mau_sp"  value="{{this.san_pham.mau_sp}}">
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">giam_gia_sp</label>
                    <input type="number" class="form-control" id="giam_gia_sp" name="giam_gia_sp"  value="{{this.san_pham.giam_gia_sp}}">
                </div>
                <div class="mb-2">
                    <label for="id_loai_sp" class="form-label">id_loai_sp</label>
                    <input type="text" class="form-control" id="id_loai_sp" name="id_loai_sp"  value="{{this.san_pham.id_loai_sp}}">
                </div>
                <div class="mb-2">
                    <label for="exampleInputPassword1" class="form-label">size_sp</label>
                    <input type="number" class="form-control" id="size_sp" name="size_sp"  value="{{this.san_pham.size_sp}}">
                </div>
                <div class="mb-2">
                    <a name="" id="" class="btn btn-success" href="/admin/san_pham" role="button"> <i class="fas fa-backward"></i></a>
                    <button type="submit" class="btn btn-danger" formaction="/admin/san_pham/del"> <i class="fas fa-trash"></i></button>
                    <button type="submit" class="btn btn-primary" formaction="/admin/san_pham/update">Update</button>
                </div>
            </form>
        </div>

        <div class="card-footer text-muted">
            Chỉnh sửa hoặc xóa thông tin của danh mục loại sản phẩm
        </div>
    </div>

