<div class="row">
    <div class="col-2">
            <div class="card mb-3">
            <h5 class="card-header">Danh sách bảng</h5>
            <div class="list-group">
                <a name="" id="" class="btn btn-light mb-2 mt-2" href="/admin/loai_sp" role="button">Loại Sản phẩm</a>
                <a name="" id="" class="btn btn-light mb-2" href="/admin/san_pham" role="button">Sản phẩm</a>
                <a name="" id="" class="btn btn-light mb-2" href="/admin/hoa_don" role="button">Hóa đơn</a>
                <a name="" id="" class="btn btn-dark mb-2" href="/admin/khach_hang" role="button">Khách hàng</a>
                <a name="" id="" class="btn btn-light mb-2" href="/admin/cthd" role="button">Chi tiết hóa đơn</a>  
                <a name="" id="" class="btn btn-light mb-2" href="/admin/doanh_thu/sp_daban" role="button">Xem danh sách sản phẩm đã bán</a> 
                <a name="" id="" class="btn btn-light mb-2" href="/admin/doanh_thu/kh_tongtien" role="button">Xem danh sách khách hàng đã mua hàng</a>   
            </div>
         </div>
    </div>

    <div class="col-10 mb-3">
       {{#if this.empty}}
    <div class="card">
        <div class="card-header d-flex justify-content-between ">
            <h1>Danh sách khách hàng</h1>
            <a name="" id="" class="btn btn-outline-success" href="/admin/khach_hang/add" role="button">Thêm khách hàng</a>
        </div>
        <div class="card-body">
            <p>Khong co du lieu</p>
        </div>
    </div>
{{else}}
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h1>Danh sách khách hàng</h1>
        <a name="" id="" class="btn btn-outline-success" href="/admin/khach_hang/add" role="button">Thêm khách hàng</a>
    </div>
    <div class="card-body">
       <table class="table table-hover">
           <thead>
               <tr>
                  <th scope="col">ID khách hàng</th>
                  <th scope="col">Tên khách hàng</th>
                  <th scope="col">Số điện thoại</th>
                  <th scope="col">Mật khẩu</th>
                  <th scope="col">Địa chỉ</th>
                  <th scope="col">Quyền</th>

                  <th scope="col">Chỉnh sửa</th>
               </tr>
           </thead>
           <tbody>
              {{#each this.khachhang}}
              <tr>
                  <td>{{id_kh}}</td>
                  <td>{{ten_kh}}</td>
                  <td>{{so_dt_kh}}</td>
                  <td>{{pass}}</td>
                  <td>{{dia_chi_kh}}</td>
                  <td>{{quyen}}</td>
                  <td>
                       <a class="btn btn-primary btn-sm" href="/admin/khach_hang/edit?id={{id_kh}}" role="button">
                         <i class="fas fa-pencil-alt"></i>
                      </a>

                  </td>
              </tr>
              {{/each}}
           </tbody>
       </table>
    </div>
</div>
    
{{/if}}

    </div>
</div>




