
    <main>
        {{#if empty}}
            <h2 class="mb-3" style="text-align: center;">Không có sản phẩm</h2>
        {{else}}
            <h2 class="mb-3" style="text-align: center;">{{ten_loai_sp}}</h2>
        {{/if}}
        <div class="container-fluid">
            <div class="row">
                 {{#each san_pham}}
                <div class="col-3 card_item" >
                    <div class="card mb-3 ">
                        <div class="card_img">
                            <img src="/images/product/p{{id_sp}}/{{id_sp}}.png" class="card-img-top" alt="{{ten_sp}}" title="{{ten_sp}} : {{gia_sp}}">
                            <a class="btn btn-dark quick_view" href="/web/views_sp/{{id_sp}}" role="button"> <i class="fas fa-eye"></i> Quick view</a>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">{{ten_sp}}</h5>
                                {{#if giam_gia_sp}}
                                    <h4 class="card-text" style="color: rgb(218, 109, 109);" >{{f_giam_gia_sp}}</h4>
                                {{/if}}
                            </div>
                            <div class="d-flex justify-content-between">
                                {{#if giam_gia_sp}}
                                    <h6 class="card-text" style="color: black; text-decoration: line-through; " >{{f_gia_sp}}</h6> 
                                {{/if}}
                                <h6 class="card-text" style="color: rgb(120, 120, 202);" >{{gia_moi}}</h6>
                            </div>
                        </div>
                    </div>  
                </div>  
            {{/each}}
            </div>
        </div>
        <div class="mt-3 truot mb-3">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item {{#unless can_pre}}disabled{{/unless}} "><a class="page-link" href="?page={{this.pre}}">&laquo;</a></li>
                    {{#each this.page_item}}
                        {{#if isActive}}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">
                                    {{value}}
                                    <span class="sr-only">(current)</span>

                                </span>
                            </li>  
                        {{else}}
                            <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>  
                        {{/if}} 
                    {{/each}}
                    <li class="page-item {{#unless can_next}}disabled{{/unless}}"><a class="page-link" href="?page={{this.next}}">&raquo;</a></li> 
                </ul>
            </nav>
</div>
    </main>
