<div class="card_1">
        <div class="cart mb-3">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted count">{{session.cart.totalItems}}</div>
                </div>
            </div>
            <table class="table">
                    <thead>
                        <tr>
                            <th>Img</th>
                            <th>Tên sản phẩm</th>
                            <th>số lượng</th>
                            <th>Giá</th>
                            <th>Lựa chọn</th>
                        </tr>
                    </thead>
                    <tbody>   
                         {{#each session.cart.items}}
                            <tr>
                                <td><img class="img-fluid" src="/images/home/product/img/{{this.item.id_sp}}.png" style="width:80px"></td>
                                <td><p>{{this.item.ten_sp}}</p></td>
                                <td>{{this.qty}}</td>
                                <td><p>{{this.item.gia_moi}} <span class="close">đ</span></p></td>
                                <td><p class="price">{{this.item.gia_moi}}</p></td>

                                <td><a name="" id="" class="btn btn-danger link" href="/web/remove/{{this.item.id_sp}}" role="button">Xóa</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
            </table>   

            <p>Tổng tiền: <span> {{session.cart.totalPrice}}</span> đ</p>
            <a name="" id="" class="btn btn-success link" href="/web" role="button" style="width:40%"><i class="fas fa-backward"> Quay trở lại mua sắm</i></a>
    </div>
</div>