<section>
    {{#each product}}
    <div class="container-fluid">
        <div class="product-top">
            <p>Trang chủ</p> <span>/</span>
            <p>Sản phẩm</p> <span>/</span>
            <p style="color: red">{{ten_sp}}</p>
        </div>
        <div class="product-content">
            <div class="row">

                <div class="col-8">
                    <div class="product-content-left">
                        <div class="product-content-left-main-img">
                            <img src="/images/home/product/img/{{id_sp}}.png" alt="">
                        </div>
                        <div class="product-content-left-img">
                            <img src="/images/image_ct/POMTK222-15.jpg" alt="">
                            <img src="/images/image_ct/POMTK222-17.jpg" alt="">
                            <img src="/images/image_ct/POMTK222-21.jpg" alt="">
                            <img src="/images/image_ct/POMTK222-18.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-content-right">
                        <div class="product-content-right-name">
                            <h1>{{ten_sp}}</h1>
                            <p>MSP: POMTK222</p>
                        </div>
                        <div class="product-content-right-price">
                            <p>{{product.gia_moi}}<sup>đ</sup></p>
                        </div>
                        <form action="/web/add/{{id_sp}}">

                            <div class="quantity">
                                <p style="font-weight: bold;">Số lượng:</p>
                                <input type="number" min="0" value="0" style="width: 40px;height: 40px;" name="soluong">
                            </div>




                            <div class="product-content-right-color">
                                <p style="font-weight: bold;">mau sac:</p>
                                <input type="text" min="0" value="0" style="width: 40px;height: 40px;" name="color">
                            </div>

                            <div class="product-content-right-size">
                                <p style="font-weight: bold;">kich thuoc:</p>
                                <input type="text" min="0" value="0" style="width: 40px;height: 40px;" name="size">
                            </div>


                            <input type="submit" value="mua ngay">
                        </form>



                        <p style="color: red;">Vui lòng chọn size</p>

                        <div class="product-content-right-icon">
                            <div class="product-content-right-icon-item">
                                <i class="fas fa-phone-volume fa-2x"></i>
                                <p>Hotline</p>
                            </div>
                            <div class="product-content-right-icon-item">
                                <i class="fas fa-comments fa-2x"></i>
                                <p>Chat</p>
                            </div>
                            <div class="product-content-right-icon-item">
                                <i class="far fa-envelope fa-2x"></i>
                                <p>Mail</p>
                            </div>
                        </div>
                        <!-- <div class="product-content-right-QR">
                            <img src="image/qr.png" alt="">
                        </div> -->
                        <!--
                            <div class="product-content-right-bottom">
                            <div class="product-content-right-bottom-top">
                                <i class="fas fa-angle-down"></i>
                            </div>
                            <div class="product-content-right-bottom-content-main">
                                <div class="product-content-right-bottom-content-title">
                                    <div class="product-content-right-bottom-content-title-item mota">
                                        <p>Mô tả</p>
                                    </div>
                                    <div class="product-content-right-bottom-content-title-item huongdanchonsize">
                                        <p>Hướng dẫn chọn size</p>
                                    </div>
                                </div>
                                <div class="product-content-right-bottom-content">
                                    <div class="product-content-right-bottom-content-mota">
                                        – Chất liệu:45% COTTON <br>
                                        – Đặc tính: <br>
                                        – Phom: Regular <br>
                                        – Màu: xanh cổ vịt, xanh navi, trắng kem, xám nhạt <br>
                                        – Size: S – M– L – XL – XXL <br>
                                        – Sản phẩm đã có mặt ở toàn bộ các cửa hàng trên hệ thống <br>
                                    </div>
                                    <div class="product-content-right-bottom-content-huongdanchonsize">
                                        – Size M: 50-57kg / Cao 1m53 – 1m68 <br>
                                        – Size L: 58-64kg / Cao 1m57 – 1m70 <br>
                                        – Size XL: 65-70kg / Cao 1m66 – 1m76 <br>
                                        – Size XXL: 71-76kg / Cao 1m70 – 1m85 <br>
                                        – Tùy mỗi người thích body hoặc vừa người thì tăng hoặc giảm 1 size, chỉ số trên là tương đối mặc
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="logan">
            <p style="font-weight: bold;">SẢN PHẨM LIÊN QUAN</p>
        </div>
        <div class="row">
            <!---------------- ảnh 1 ------------------------>
            <div class="col-3">
                <div class="detail-product">
                    <img class="picture" src="../public/images/imageKM/5.png" alt="shirt5">
                    <img class="more" src="../public/images/imageKM/5p.png" alt="more5">
                    <div class="picture-title">
                        <a href="/detail-product.html" style="font-size: 30px;">Áo phông nam APHTK264</a>
                        <span><del style="color: grey;font-size: 18px;">990.000đ</del> <ins
                                style="color: red;font-size: 20px;">495.000đ</ins></span>
                    </div>
                </div>
            </div>
            <!---------------- ảnh 5 ------------------------>
            <div class="col-3">
                <div class="detail-product">
                    <img class="picture" src="../public/images/imageKM/5.png" alt="shirt5">
                    <img class="more" src="../public/images/imageKM/5p.png" alt="more5">
                    <div class="picture-title">
                        <a href="/detail-product.html" style="font-size: 30px;">Áo phông nam APHTK264</a>
                        <span><del style="color: grey;font-size: 18px;">990.000đ</del> <ins
                                style="color: red;font-size: 20px;">495.000đ</ins></span>
                    </div>
                </div>
            </div>
            <!---------------- ảnh 9 ------------------------>
            <div class="col-3">
                <div class="detail-product">
                    <img class="picture" src="../public/images/imageKM/5.png" alt="shirt5">
                    <img class="more" src="../public/images/imageKM/5p.png" alt="more5">
                    <div class="picture-title">
                        <a href="/detail-product.html" style="font-size: 30px;">Áo phông nam APHTK264</a>
                        <span><del style="color: grey;font-size: 18px;">990.000đ</del> <ins
                                style="color: red;font-size: 20px;">495.000đ</ins></span>
                    </div>
                </div>
            </div>
            <!---------------- ảnh 11 ------------------------>
            <div class="col-3">
                <div class="detail-product">
                    <img class="picture" src="../public/images/imageKM/5.png" alt="shirt5">
                    <img class="more" src="../public/images/imageKM/5p.png" alt="more5">
                    <div class="picture-title">
                        <a href="/detail-product.html" style="font-size: 30px;">Áo phông nam APHTK264</a>
                        <span><del style="color: grey;font-size: 18px;">990.000đ</del> <ins
                                style="color: red;font-size: 20px;">495.000đ</ins></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{/each}}
</section>
